p{
    color:red;
    text-align: center;
    background-color: yellow;
    font-size: 30px;
    
}
.demo{
    color:green;
    font-size: 30px;
    text-align: center;
    background-color: aqua;
    
}